@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IdentityServer4</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link rel="stylesheet" href="~/css/login.css" />*@
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <script src="~/lib/jquery/jquery.slim.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    @RenderSection("css", false)

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="~/">
                <span class="navbar-brand">
                    <img src="~/icon.png" class="icon-banner">
                    IdentityService
                </span>
            </a>

            <div class="collapse navbar-collapse flex-row justify-content-md-end" id="navbarSupportedContent">

                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        @if (!string.IsNullOrWhiteSpace(name))
                        {
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@name<span class="glyphicon glyphicon-user"></span></a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a asp-action="Logout" asp-controller="Account" class="dropdown-item">Logout</a>
                            </div>
                        }
                        else
                        {
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account<span class="glyphicon glyphicon-user"></span></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a asp-action="Login" asp-controller="Account" class="dropdown-item">Login</a>
                                <a asp-action="Register" asp-controller="Account" class="dropdown-item">Register</a>
                            </div>

                        }
                    </li>




                </ul>
            </div>

        </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
